* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #fff, #000);
    height: 100vh;
}

.container {
    width: 100%;
    padding: 10px;
    max-width: 100vw;
    margin-top: 5%;
}

h2 {
    background-color: #e8f0fe;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #174c4f;
    border: solid 1px #ccc;
    text-transform: uppercase;
    font-weight: bold;
}

.label-input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    padding: 10px;
    cursor: text;
    background-color: #e8f0fe;
    border-radius: 5px;
}

input, select {
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e8f0fe;
}

input:focus, select:focus {
    outline: none;
}

select {
    height: 50px;
    cursor: pointer;
}

span {
    font-size: 13px;
    color: rgb(131, 130, 130);
    font-weight: bold;
    text-transform: capitalize;
}

.cor {
    width: 100%;
    background-color: #e8f0fe;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 0;
    border: solid 1px #ccc;
}

.btn-add-cor {
    padding: 10px;
    border: none;
    background-color: rgb(38, 117, 6);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.btn-add-cor:hover {
    background-color: rgb(33, 102, 5);
}

.salvar {
    width: 100%;
    background-color: rgb(38, 117, 6);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.salvar:hover {
    background-color: rgb(33, 102, 5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    height: auto;
}

thead {
    background-color: #e8f0fe;
    border: solid 1px #ccc;
}

tr {
    text-transform: uppercase;
    height: 50px;
    text-align: center;
}

.btn-delete {
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    height: 35px;
    border: none;
    cursor: pointer;
    min-width: 35px;
    font-size: large;
    box-shadow: 0px 0px 5px 0px #ccc;
}

tbody tr:nth-child(even) {
    background-color: #e8f0fe;
}

tbody {
    border: solid 1px #ccc;
}

@media screen and (max-width: 1300px) {
    thead {
        display: none;
    }

    tbody {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-style: none;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        height: auto;
        border: solid 1px #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 0px 5px 0px #ccc;
    }

    td {
        padding: 10px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 60%;
    }
}